bcrypt
flask
flask_login
flask_mail
flask_migrate
flask_wtf
flask_sqlalchemy
flask_jwt_extended
gunicorn
azure-ai-formrecognizer
azure-ai-ml
azure-common
azure-core
azure-identity
azure-mgmt-core
azure-storage-blob
azure-storage-file-datalake
azure-storage-file-share
openpyxl
pandas
flask_jwt_extended
psycopg2
pillow
nanoid
flask-babel
# spyne
lxml
zeep
cffi
exchangelib
openai==1.55.3
chardet
pymupdf
chardet
googlemaps
Pyarrow
Office365-REST-Python-Client
python-dateutil
pywebpush
fpdf
html2text
rapidfuzz
thefuzz
